
body {
    background-color: #040404;;
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
}


h1 {
    background-image: linear-gradient(to right, #33A8DB, #1472B7);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Raleway', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 46.96px;
    margin: 0;
}


.banner-content p {
    font-family: 'Raleway', 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: center;
    color: white;
    margin: 0;
}

button {
    font-family: 'Raleway', 'Segoe UI', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 18.78px;
    letter-spacing: 0.21em;
    text-align: center;
    color: #31A8DD;
    background: none;
    border: 3px solid #1472B7; /* Borda azul */
    cursor: pointer;
    margin: 10px 0;
    border-radius: 10; /* Torna o botão arredondado */
    padding: 19px 91px;
}



.banner {
    background-color: rgb(10, 28, 35);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7)), url('assets/images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 605px; 
    margin: 0;
}
.banner-content {
    border-bottom: 2px solid rgba(51, 168, 219, 0.5); 
}

.banner-content, #course-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; 
    height: 100%; 
    padding: 20px 20px 0 20px 20px;
    gap: 10px; 
}

h2 {
    font-family: 'Raleway', 'Segoe UI', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    letter-spacing: 0.19em;
    /*text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;*/
    color: #33A8DB;
}

main p, footer p {
    font-family: 'Raleway', 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 18.78px;
    align-items: center;
    color: #FFFFFF;
    width: 792px;

}

section{
    border-bottom: 2px solid rgba(51, 168, 219, 0.5); 
}


.module {
    border: 1px solid #33A8DB;
    padding: 16px 127px;
    border-radius: 20px;
    margin-bottom: 15px;
    gap: 10px;
    background-color: #252525;
}
.modules-list {
    color: white;
    
}

span {
    color: #33A8DB;
}

#transform-world {
    background-image: url(assets/images/woman-code.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    min-height: 400px; /* Altura mínima para a capa */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    padding-left: 20px; /* Espaçamento da frase em relação à borda esquerda */
}

#transform-world p {
    font-family: 'Raleway', 'Segoe UI', sans-serif;
    font-size: 40px;
    line-height: 46.66px;
    color: #FFFFFF;
    max-width: 244px; /* Limita a largura do texto */
    text-align: left; /* Alinha o texto à esquerda */
    font-weight: bold;
    text-shadow: 
        3px 2px 0px #33A8DB, 
        6px 4px 0px rgba(0, 0, 0, 0.3); 
}

#professional-challenges {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);

}
footer a {
    text-decoration: none;
    color: #31A8DD;
}
    

